@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Libre+Baskerville&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color : #eee;
    font-family : 'Roboto';   
}

#header {
    width: 100%;
    position : fixed;   
    z-index: 9; 
}

#first-nav-bar { 
    background-color : #eee;       
    display : flex;    
    flex-direction: row;
    align-items: center;
    justify-content : space-between;    
    height : 40px;    
    padding-top: 25px;  
    padding-bottom: 24px;     
}

#left-elements ul {
    display : flex;
    flex-direction : row;    
    list-style : none;    
    justify-content: space-between;     
    padding-left: 50px;  
    padding-top: 12px;  
}

#left-elements li {
    margin : 0 25px;
}

#left-elements a {    
    font-size: 17px;    
    font-weight: 500;
    color : black;
    text-decoration: none;  
}  

#logo {    
    background-color: black;
    padding : 0 50px; 
    margin-left : 100px; 
}

#logo a {
    font-family: 'Cinzel';
    font-size : 30px;
    color : white;    
    text-decoration: none;      
}

.right-elements ul {
    display : flex;
    flex-direction : row;    
    list-style : none;    
    justify-content : space-between;     
    padding-right : 50px;
    padding-top: 12px;    
}

.right-elements li {
    margin : 0 25px;           
}

.right-elements a {
    font-size: 17px;    
    font-weight: 500;
    color : black;   
    text-decoration: none;
}

.right-elements a:hover {
    color: black;    
    text-decoration :none;
}

.profile-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.profile-dropdown-content a {      
    color: black;
    padding: 10px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.profile-dropdown-content a:hover {
    background-color: black;
    color: white;
}

.profile-dropdown:hover .profile-dropdown-content  {    
    display: block;    
}

#second-nav-bar {   
    display: flex;
    flex-direction: row;
    background-color: black;             
    height : 40px;    
    align-items: center;    
}

#elements ul {
    display : flex;
    flex-direction : row;    
    list-style : none;   
    justify-content: space-between;   
    padding-top: 12px;      
}

#elements li {    
    margin: 0 50px;      
}

#elements a {
    font-size : 17px;
    font-weight: 400;  
    text-decoration: none;
    padding : 7px 25px;
}

.dropdown a {
    text-decoration: none;
    color : white;
}

.dropdown a:hover {
    background-color: #B00000;
    color: white;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: black;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#top {       
    background-color: #eee;
}

#top-image {      
    background-image: url(Images/bg.jpg);    
    background-size: cover;     
    height: 120vh;        
}

#salesPage {
    background-color: #eeeeee;        
  }
  
.salesPage-images {
    width: 100%;
    height: 100%;
    margin: auto;
  }
  
.carousel-item {
    width: 100%;
    height: 100%;
    padding: 5% 5%;
    margin: auto;
}

.carousel-control-prev-icon , .carousel-control-next-icon {
    filter: invert(1);
}

.btn {
    height: 55px;
    width : 180px;
    position: absolute;
    top: 77%;
    left: 82.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

#bottom {
    background-color: #eee;
    padding-top: 40px;   
}  

#heading {    
    text-align: center;
    margin-bottom: 40px;
    background-color: #eee;  
}

#heading h3 {    
    font-family: "Cinzel";
    font-size: 45px;   
    padding : 10px 0;   
    border-bottom: 2px solid #000; 
    line-height: 0.1em;   
}

h3 span { 
    background-color: #eee;
    padding: 0 10px; 
}

.container {
    margin-top : 60px;  
} 

#footer {
    background-color:#282828;
    color:#eeeeee;
    display: flex;
    flex-direction: row;
    align-items : flex-start;
    justify-content: space-between;
    padding : 50px;       
}

#footer h3 {
    font-size: 24px;   
    padding-bottom: 15px;   
}

#footer ul{
    text-align: left;
    list-style: none;
}

#footer li {
    line-height: 1.9;
}

#footer a {
    text-decoration: none;
    font-size: 16px;
    color: white;
}

#products {
    padding-left: 90px;
}

#products h3 {
    padding-left: 30px;
}

#useful_links {
    margin-left: 160px;
}

#useful_links h3 {
    padding-left : 30px;
}

#stay_in_touch {
    padding-right : 120px;    
}

#stay_in_touch h3 {
    padding-left: 60px;    
}

#stay_in_touch ul {
    display: flex;
    flex-direction: row;
    padding-right: 34px;
}

#stay_in_touch li {
    margin : 0 15px;
}

#copyright {
    font-size: 20px;
    padding-top : 140px;
}

img {
    width : 60%;
    height: 100%;
}

h1 {
    text-align: center;
    padding-bottom: 50px;         
}

#search-bar {
    width : 330px;
    margin-left: 50px;
}

#search {
    width: 100%;
    position: relative;
    display: flex;
}
  
.searchTerm {
    width: 100%;
    height: 28px;
    border: 2px solid #eee;
    border-right: none;
    padding: 5px;    
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
    font-size : 15px;
    font-weight : 600;
    font-family: "Roboto";
    background-color: #eee;
}
  
.searchTerm:focus{
    color: black;
}
  
.searchButton {
    width: 40px;
    height: 28px;
    border: 1px solid #eee;
    background: #eee;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;    
    border-left : none;
}

.techbot {
	position: fixed;
    bottom: -4px;
    right: 10px;
    z-index: 9;
}

.techbot .techbot-button {
	width: 230px;
	height: 50px;
	border: 2px solid #eee;
	background-color: #282828;
	transition: all 300ms;
	cursor: pointer;
	padding: 10px;
	color: #eee;
	font-family: "Roboto", sans-serif;
}

.techbot .techbot-button span {
    font-size: 20px;
	color: #eee;
	position: absolute;   
	left: 70px;
	top: 10px;
	line-height: 28px;
}
.techbot .techbot-button:hover {
	transition: all 400ms cubic-bezier(.62, .1, .5, 1);
    height: 165px;
	
}
.techbot .techbot-button .long-text {
	transition: opacity 1000ms;
	opacity: 0;
	color: #eee;
	white-space: nowrap;
	font-size: 0;
	width: 0;
}    

.techbot .techbot-button .long-text.show-long-text {
	transition: opacity 700ms, width 1ms linear 270ms, font-size 1ms linear 270ms;
	opacity: 1;
	font-size: 20px;
	width: auto;  
}


.name {
    margin-left : -7px;
}

.name a {
    text-decoration: none;
    color: #eee;
    font-size: 22px;
    font-weight: 600;
    background-color: #B00000;
    padding : 8px;   
    border-radius: 5px;
}

.name a:hover {
    background-color: #FFC300;
    color: #282828;    
}

.long-text {
    margin-top : 10px;
    margin-right: 5px;
}

